<p>{{ article.name }}</p>
<p>{{ article.firstName }}</p>
<p>{{ article.birthDate|date('d/m/Y') }}</p>
<p>{{ article.email }}</p>
<p>{{ article.adress }}</p>


{{ form_start(formDelete) }}
{{ form_widget(formDelete) }}
{{ form_end(formDelete) }}